/textEdit/preprocessed_large_file.csv
/fitModel/model_sg_0_window_2_vect_size_50.model
/fitModel/model_sg_0_window_2_vect_size_50.model.syn1neg.npy
/fitModel/model_sg_0_window_2_vect_size_50.model.wv.vectors.npy
/fitModel/model_sg_0_window_2_vect_size_100.model
/fitModel/model_sg_0_window_2_vect_size_100.model.syn1neg.npy
/fitModel/model_sg_0_window_2_vect_size_100.model.wv.vectors.npy
/fitModel/model_sg_0_window_5_vect_size_50.model
/fitModel/model_sg_0_window_5_vect_size_50.model.syn1neg.npy
/fitModel/model_sg_0_window_5_vect_size_50.model.wv.vectors.npy
/fitModel/model_sg_0_window_5_vect_size_100.model
/fitModel/model_sg_0_window_5_vect_size_100.model.syn1neg.npy
/fitModel/model_sg_0_window_5_vect_size_100.model.wv.vectors.npy
/fitModel/model_sg_0_window_10_vect_size_50.model
/fitModel/model_sg_0_window_10_vect_size_50.model.syn1neg.npy
/fitModel/model_sg_0_window_10_vect_size_50.model.wv.vectors.npy
/fitModel/model_sg_0_window_10_vect_size_100.model
/fitModel/model_sg_0_window_10_vect_size_100.model.syn1neg.npy
/fitModel/model_sg_0_window_10_vect_size_100.model.wv.vectors.npy
/fitModel/model_sg_1_window_2_vect_size_50.model
/fitModel/model_sg_1_window_2_vect_size_50.model.syn1neg.npy
/fitModel/model_sg_1_window_2_vect_size_50.model.wv.vectors.npy
/fitModel/model_sg_1_window_2_vect_size_100.model
/fitModel/model_sg_1_window_2_vect_size_100.model.syn1neg.npy
/fitModel/model_sg_1_window_2_vect_size_100.model.wv.vectors.npy
/fitModel/model_sg_1_window_5_vect_size_50.model
/fitModel/model_sg_1_window_5_vect_size_50.model.syn1neg.npy
/fitModel/model_sg_1_window_5_vect_size_50.model.wv.vectors.npy
/fitModel/model_sg_1_window_5_vect_size_100.model
/fitModel/model_sg_1_window_5_vect_size_100.model.syn1neg.npy
/fitModel/model_sg_1_window_5_vect_size_100.model.wv.vectors.npy
/fitModel/model_sg_1_window_10_vect_size_50.model
/fitModel/model_sg_1_window_10_vect_size_50.model.syn1neg.npy
/fitModel/model_sg_1_window_10_vect_size_50.model.wv.vectors.npy
/fitModel/model_sg_1_window_10_vect_size_100.model
/fitModel/model_sg_1_window_10_vect_size_100.model.syn1neg.npy
/fitModel/model_sg_1_window_10_vect_size_100.model.wv.vectors.npy
/fitModel/preprocessed_large_file.csv
/corpus.jsonl
